.card {
    margin: 5rem auto;
    display: flex;
    align-items: center;
    width: 40rem;
    height: 28rem;
    background-color: #26292f;
    border: 1.5px solid #3f444f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

    &__staking , &__rwd{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #26292f;
    }

    &__amount {
        background-color: #26292f;
    }

    &__balances {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        gap: 4rem;
        color: white;
        background-color: #26292f;
    }

    &__text {
        background-color: #26292f;
        border-bottom: 1px solid white;
        padding: 1rem 0;
    }
}