* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #191B1F;
}

h1 {
    font-size: 1.1rem; 
}

h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
}

p {
    font-size: 1rem;
    letter-spacing: .1rem;
}

// .main {
//     display: flex;
//     align-items: center;
// }