* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #191B1F;
}

li {
    list-style: none;
}

h1 {
    font-size: 1.1rem; 
}

h2 {
    font-size: 1rem;
    letter-spacing: .1rem;
}

.account-number {
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}