@use "../../styles/partials/mixins" as *;

.navbar {
    background-color: rgba(0, 0, 0, 0.11);
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: sticky;
    backdrop-filter: blur(4px);

    &__link {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: .25rem;

        &:hover {
            text-decoration: none;
        }
    }

    &__logo {
        height: 3rem;
        width: 3.5rem;
    }

    &__list {
        display: none;

        @include tablet {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin: 0;
        }
    }

    &__list-item {
        color: white;

        &:hover {
            color: rgba(255, 255, 255, 0.705);
        };
    }

    &__github-icon {
        height: 2rem;
        color: white;
        cursor: pointer;

        &:hover {
            opacity: 80%;
        }
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33px;
        height: 25px;
        cursor: pointer;

        @include tablet {
            display: none;
        }
    
        span {
            width: 100%;
            height: 2px;
            background-color: white;
            transform-origin: left;
            transition: all 1s ease;
        }
    }

    &.active {
        color: white;

        .hamburger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg)
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    background-color: white;
                    transform: rotate(-47.5deg)
                }
            }
        }
        
    }
}