.form {
    margin: 0 1rem;

    &__tokens {
        display: flex;
        justify-content: center;
    }

    &__input-row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem
    }

    &__input {
        width: 17rem;
        border-radius: 5px;
        padding: .25rem .5rem;
        color: black;
    }

    &__tether {
        display: flex;
        align-items: center;
        gap: .5rem
    }

    &__tether-icon {
        height: 2rem;
        scale: 1;
    }

    &__text {
        margin-bottom: 0;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
        gap: 2rem;
    }

    &__button {
        width: 10rem;
        height: 2.5rem;
        background: rgb(228, 0, 110);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: .2s ease-in;

        &:hover {
            opacity: 80%;
        }
    }
}